@model IEnumerable<User>

@{
    ViewData["Title"] = "Lista użytkowników";
}

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Lista użytkowników w systemie</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Login</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() != 0)
                {
                    foreach (var user in Model)
                    {
                        <tr>
                            <th scope="row">@user.Id</th>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("AddUserToRole", "Account",new { Id = user.Id })" role="button">Dodaj rolę</a>
                                <a class="btn btn-secondary btn-sm" href="@Url.Action("UserDetails", "Account",new { Id = user.Id })" role="button">Szczegóły</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <th colspan="4">Brak użytkowników w systemie</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

